
@media only screen (max-width: 767px) {
	.nav-cue-show {
		top: 263px;
	}
	.nav-wrapper {
		top:-263px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.nav-cue-show {
		top: 65px;
	}
	.nav-wrapper {
		top:-65px;
	}
}

@media only screen (min-width: 992px) and (max-width: 1199px) {
	.nav-cue-show {
		top: 65px;
	}
	.nav-wrapper {
		top:-65px;
	}
}

@media only screen (min-width: 1200px) {
	.nav-cue-show {
		top: 65px;
	}
	.nav-wrapper {
		top:-65px;
	}
}